@font-face {
  font-family: "Miller-Banner-Light";
  src: url("Miller-Banner-Light-01.eot");
  src: url("Miller-Banner-Light-01.eot?#iefix") format("embedded-opentype"),
    url("Miller-Banner-Light-01.woff2") format("woff2"),
    url("MillerBanner-Light.svg#MillerBanner-Light") format("svg"),
    url("MillerBanner-Light.ttf") format("truetype"),
    url("MillerBanner-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Miller-Banner-Light-Italic";
  src: url("Miller-Banner-Light-Italic-01.eot");
  src: url("Miller-Banner-Light-Italic-01.eot?#iefix")
      format("embedded-opentype"),
    url("Miller-Banner-Light-Italic-01.woff2") format("woff2"),
    url("MillerBanner-LightItalic.svg#MillerBanner-LightItalic") format("svg"),
    url("MillerBanner-LightItalic.ttf") format("truetype"),
    url("MillerBanner-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Miller-Banner-Roman";
  src: url("Miller-Banner-Roman-01.eot");
  src: url("Miller-Banner-Roman-01.eot?#iefix") format("embedded-opentype"),
    url("Miller-Banner-Roman-01.woff2") format("woff2"),
    url("Miller-Banner-Roman.svg#WebtypeWebUseOnly") format("svg"),
    url("Miller-Banner-Roman.ttf") format("truetype"),
    url("Miller-Banner-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Miller-Banner-Semibold-01";
  src: url("Miller-Banner-Semibold-01.eot");
  src: url("Miller-Banner-Semibold-01.eot?#iefix") format("embedded-opentype"),
    url("Miller-Banner-Semibold-01.woff2") format("woff2"),
    url("Miller-Banner-Semibold.svg#WebtypeWebUseOnly") format("svg"),
    url("Miller-Banner-Semibold.ttf") format("truetype"),
    url("Miller-Banner-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Miller-Banner-Italic-01";
  src: url("Miller-Banner-Italic-01.eot");
  src: url("Miller-Banner-Italic-01.eot?#iefix") format("embedded-opentype"),
    url("Miller-Banner-Italic-01.woff2") format("woff2"),
    url("Miller-Banner-Italic.svg#WebtypeWebUseOnly") format("svg"),
    url("Miller-Banner-Italic.ttf") format("truetype"),
    url("Miller-Banner-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Miller-Banner-Semibold-Italic-01";
  src: url("Miller-Banner-Semibold-Italic-01.eot");
  src: url("Miller-Banner-Semibold-Italic-01.eot?#iefix")
      format("embedded-opentype"),
    url("Miller-Banner-Semibold-Italic-01.woff2") format("woff2"),
    url("Miller-Banner-Semibold-Italic.svg#WebtypeWebUseOnly") format("svg"),
    url("Miller-Banner-Semibold-Italic.ttf") format("truetype"),
    url("Miller-Banner-Semibold-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
