a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.swiper-mobile{
  width: 100%;
  height: 329px;
}
.swiper-mobile img{
  width: 100%;
  height: 100%;
  max-height: 90%;
  object-fit: contain;
}
@media(min-width:960px){
  .swiper-mobile{
    display: none;
  }
}

.bullet-field{
  padding: 2px !important;

}

.bullet-field_active {
  background: red!important;
  padding: 2px !important;
  border: 2px solid red !important;
  opacity: 1!important;
}
.client-mobile-swiper.swiper{
  overflow: hidden;
  margin-top: 20px;
}
/* .client-mobile-swiper .swiper-pagination{
  bottom: -18px !important;
} */
.client-mobile-swiper .swiper-pagination-bullet-active{
  background-color: black;
}

@media(max-width:320px){
  #slider-talent-profile-mobile > div{
    min-width: 100%;
  }
  .playIcon{
    object-fit : contain !important
  }
}
.nfollowers{
  text-transform: uppercase;
}
